/* Todolist */
.main{

}
.date-time-div{
  background-color: #1a1a1a;
  height: 40px;
  text-align: center;
  color: white;
  line-height: 40px;
  font-size: 18px;
}
.todolist-container{
  display: flex;
  justify-content: center;
}
.todolist-main button{
  margin: auto;
}
#plusBtn{
  background-color: #333333;
  color: white;
  padding: 4px 40px;
}

#textInput{
  display: none;
}

